.options-column {
    width: 1px; 
    white-space: nowrap;
}

#but1{
	background-color: Transparent !important;
    background-repeat:no-repeat !important;
    border: none !important;
    cursor:pointer !important;
    overflow: hidden !important;
    outline:none !important;
}

#but2{
	background-color: Transparent !important;
    background-repeat:no-repeat !important;
    border: none !important;
    cursor:pointer !important;
    overflow: hidden !important;
    outline:none !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white !important;
  opacity: 1 !important; /* Firefox */
}