<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">

                        <div class="row">
                            <div class="col-xs-12 col-md-6 text-left">
                                <h4 class="card-title ">Backlog del Proyecto {{projectId}}</h4>
                                <p class="card-category">Historias</p>
                            </div>
                            <div class="col-xs-12 col-md-6 text-right">
                                <div class="input-group">
                                    <input type="text" placeholder="Buscar" [(ngModel)]="id" class="form-control"
                                        (ngModelChange)="resetStoriesList()">
                                    <span class="input-group-btn">
                                        <button id="but1" mat-raised-button type="submit" class="btn pull-right"
                                            (click)="Search()">
                                            <fa-icon icon="search"></fa-icon>
                                        </button>
                                        <span class="input-group-btn">
                                            <button id="but2" mat-raised-button type="submit" class="btn pull-right"
                                                data-toggle="modal" data-target="#addEdit" (click)="initializeAddForm()">
                                                <fa-icon icon="plus-circle"></fa-icon>
                                            </button>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th class="narrow-column">
                                        ID
                                    </th>
                                    <th>
                                        Historias de Usuario
                                    </th>
                                    <th class="narrow-column">
                                        Épica
                                    </th>
                                    <th class="narrow-column">
                                        Prioridad
                                    </th>
                                    <th class="narrow-column">
                                        Culminada
                                    </th>
                                    <th class="narrow-column">
                                        Opciones
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let story of stories; index as i">
                                        <td class="text-center">
                                            {{story.id}}
                                        </td>
                                        <td>
                                            {{story.description}}
                                        </td>
                                        <td class="text-center">
                                            <fa-icon *ngIf="story.epic" icon="check"></fa-icon>
                                        </td>
                                        <td>
                                          <span *ngIf="story.priority == 'high'">Alta</span>
                                          <span *ngIf="story.priority == 'medium'">Media</span>
                                          <span *ngIf="story.priority == 'low'">Baja</span>
                                        </td>
                                        <td class="text-center">
                                            <fa-icon *ngIf="story.done" icon="check"></fa-icon>
                                        </td>
                                        <td class="text-right">
                                            <div class="btn-group" role="group">
                                                <button id ="agregar2" *ngIf="story.epic" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addEdit2" (click)="initializeAssignStories(story)">
                                                    <fa-icon icon="plus-circle"></fa-icon>
                                                </button>
                                                <button type="button" class="btn btn-secondary" data-toggle="modal"
                                                    data-target="#addEdit" (click)="initializeEditForm(story)">
                                                    <fa-icon icon="edit"></fa-icon>
                                                </button>
                                                <button id="eliminar" type="button" class="btn btn-secondary" data-toggle="modal"
                                                    data-target="#eliminar" (click)="selectStory(story)">
                                                    <fa-icon icon="times"></fa-icon>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button id ="generarsprint" *ngIf="newSprint" class="btn mat-raised-button sprint" (click)="generateSprint()">Generar Sprint</button>
    <button *ngIf="!newSprint" class="btn btn-primary sprint" id="versprint" (click)="sprintDetail()">Ver Sprint</button>

    <div class="modal modal-angular fade" id="addEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 *ngIf="addMode" class="modal-title">Agregar Historia</h5>
                    <h5 *ngIf="!addMode" class="modal-title">Editar Historia {{story.id}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="addEditStoryForm">
                        <div class="row">
                            <div class="col-12">
                                <h6>Descripción</h6>
                                <div class="form-group">
                                    <input formControlName="description" type="text" class="form-control"
                                        id="addEditDescription">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <h6>Prioridad</h6>
                                <div class="form-group">
                                    <select formControlName="priority" class="form-control" id="addEditPriority">
                                        <option value="high">Alta</option>
                                        <option id="prioridad" value="medium">Media</option>
                                        <option value="low">Baja</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <h6>Épica</h6>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input formControlName="epic" class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <h6>Hecha</h6>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input formControlName="done" class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button *ngIf="addMode" type="button" class="btn btn-primary" data-toggle="modal" data-dismiss="modal"
                    (click)="createStory()">Crear Historia</button>
                    <button *ngIf="!addMode" type="button" class="btn btn-primary" data-toggle="modal" data-dismiss="modal"
                    (click)="editStory()">Editar Historia</button>
                </div>
            </div>
        </div>
    </div>

     <div class="modal modal-angular fade" id="addEdit2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 *ngIf="addMode" class="modal-title">Asignar Historias</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <tbody>
                        <h4>ID</h4>
                    <tr *ngFor="let story of stories; index as i">
                        <div class="row" *ngIf="story.epic==false && story.parent_id === null">
                                        <div class="col-sm-6" >
                                        <td>
                                            {{story.id}}

                                        </td>
                                    </div>

                                    <div class="col-sm-4">
                                        <td>
                                            <input class="form-check-input" type="checkbox" value="" autocomplete="off" (click)="selectStory(story,'add')">
                                        </td>
                                    </div>
                            </div>


                        </tr>
                    </tbody>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button id ="asignar" *ngIf="addMode" type="button" class="btn btn-primary" data-toggle="modal" data-dismiss="modal"
                    (click)="addStoryToEpic()">Asignar historias</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-angular fade" id="eliminar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="margin-top">
                        ¿Está seguro que desea eliminar esta historia?
                    </h4>
                    <a id="si" class="modal-button" data-dismiss="modal" (click)="removeStory()" target="_blank">
                        <div class="product-type">Si</div>
                    </a>
                    <a class="modal-button" data-dismiss="modal" target="_blank">
                        <div class="product-type">No</div>
                    </a>
                </div>
            </div>
        </div>
    </div>



   <!--  <div class="modal modal-angular fade" id="subir" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar proyecto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="addProjectForm">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Descripción:</label>
                            <input formControlName="description" type="text" class="form-control" id="recipient-name">
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary" data-dismiss="modal"
                        (click)="createProject()">Agregar</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal modal-angular fade" id="editar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar proyecto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="editProjectForm">
                        <div class="form-group">
                            <input formControlName="description" type="text" class="form-control" id="recipient-name">
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-dismiss="modal"
                        data-target="#seguro">Modificar</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal modal-angular fade" id="seguro" tabindex="0" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="margin-top">
                        ¿Está seguro que desea modificar este proyecto?
                    </h4>
                    <a class="modal-button" target="_blank" data-dismiss="modal" (click)="editProject()">

                        <div class="product-type">
                            Si
                        </div>
                    </a>
                    <a class="modal-button" data-dismiss="modal" target="_blank">

                        <div class="product-type">
                            No
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>  -->


</div>
