.container {
  margin: 5%;
}

td, th {
  text-align: center;
}

button {
  margin: 0 auto;
}

.alert {
  display: flex;
  width: 100%;
}

.description-title {
  text-align: center;
  padding: 5px 5px;
  font-size: 18px;
  padding-top: 15px;
  font-style: italic;
}
.close {
  margin: 0 auto;
  margin-top: 10px;
}
