
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Login</h4>
                        <p class="card-category">Ingresa tus datos</p>
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="login()" #userLoginForm="ngForm">                                
                            <div class="row">

                                <div class="col-md-8">
                                      <input type="text" class="form-control" placeholder="Usuario" [(ngModel)]="username" name="username">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                      <input type="text" class="form-control" placeholder="Contraseña" type="password" [(ngModel)]="password" name="password">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <button type="submit" class="btn btn-danger btn-round">Login</button>
                                    <button type="button" class="btn btn-danger btn-round" (click)="limpiarCampos()">Limpiar campos</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

