
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title"><i>Introducción</i></h4>
                        <p class="card-category">Introduzca introducción del proyecto</p>
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="intro()" #introForm="ngForm">                                
                            <div class="row">
                                <div class="col-md-8">
                                      <textarea type="textarea" class="form-control" placeholder="Este documento describe la implementación del método de desarrollo de software scrum por el equipo..." [(ngModel)]="intro" name="intro" rows=15 cols=60></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <button type="submit" class="btn btn-danger btn-round">Enviar</button>
                                    <button type="button" class="btn btn-danger btn-round" (click)="limpiarCampos()">Limpiar campos</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

