<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <div class="modal-body">
    <form [formGroup]="dayForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="col">
          <label for="">Dia</label>
          <input type="number" class="form-control" formControlName="">
        </div>
        <div class="col" *ngIf="data.operation===1">
          <label for="">Trabajo</label>
          <input type="nuClasember" class="form-control" formControlName="">
        </div>
        <div class="col" *ngIf="data.operation===2">
          <label for="">Realizados</label>
          <input type="nuClasember" class="form-control" formControlName="">
        </div>
      </div>
      <div class="form-row">
        <div class="col" *ngIf="data.operation===1">
          <label for="">Disponible</label>
          <input type="number" class="form-control" formControlName="">
        </div>
        <div class="col" *ngIf="data.operation===2">
          <label for="">Estimados</label>
          <input type="number" class="form-control" formControlName="">
        </div>
        <div class="col" *ngIf="data.operation===2">
          <label for="">Necesarios</label>
          <input type="number" class="form-control" formControlName="">
        </div>

      </div>
      <button type="submit" class="btn btn-primary"  cdkFocusInitial>{{ data.title }}</button>
    </form>
  </div>
</div>

