<div class="main-content">
  <div class="container-fluid">
      <!--Crear Sprint-->
      <div class="col-md-12">
          <div class="card">
              <div class="card-header card-header-text card-header-primary">
                <div class="card-text">
                  <h4 class="card-title">Sprint</h4>
                </div>
              </div>
              <div class="card-body">
                  <form [formGroup]="sprintForm" (ngSubmit)="onSubmit()">
                      <div  class="form-group">
                        <label for="description">Descripción</label>
                        <input type="text" class="form-control" id="description" formControlName="description" placeholder="">
                      </div>
                      <button *ngIf="!idSprint" type="submit" class="btn btn-primary">Generar sprint</button>
                    </form>
              </div>
          </div>
      </div>

      <!--Agregar historias al Sprint -->
      <div *ngIf="sprintStories.length === 0" class="row">
        <button *ngIf="idSprint" class="btn btn-danger" style="text-align: center" data-toggle="modal" data-target="#modalStories" (click)="getStories()">
          Agregar historias al Sprint Backlog
        </button>
        <button *ngIf="back" class="btn btn-danger" style="text-align: center" data-toggle="modal" data-target="#modalStories" (click)="seeAllstories()">
          Volver
        </button>
      </div>
      <!-- Lista de historias del Sprint Backlog -->
      <div *ngIf="sprintStories.length >= 1 && seeAll" class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">

                    <div class="row">
                        <div class="col-xs-12 col-md-6 text-left">
                            <h4 class="card-title ">Sprint backlog</h4>
                        </div>
                        <div class="col-xs-12 col-md-6 text-right">
                          <div class="input-group">
                              <span class="input-group-btn">
                                  <button id="but1" mat-raised-button type="submit" class="btn pull-right">
                                      <fa-icon icon="arrow-alt-circle-up"></fa-icon>
                                  </button>
                              </span>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>
                                  ID
                                </th>
                                <th>
                                  Descripción
                                </th>
                                <th>
                                  Aprobación
                                </th>
                                <th class="options-column">
                                    Opciones
                                </th>
                            </thead>
                            <tbody>
                               <tr *ngFor="let story of sprintStories">
                                    <td>
                                      {{story.id}}
                                    </td>
                                    <td>
                                      {{story.description}}
                                    </td>
                                    <td>

                                      <fa-icon *ngIf="story.done" icon="check-circle"></fa-icon>
                                      <fa-icon *ngIf="!story.done" icon="times-circle"></fa-icon>
                                    </td>
                                    <td>
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-secondary" (click)="seeDetails(story)" >
                                              <fa-icon icon="edit"></fa-icon>
                                            </button>
                                            <!-- <button type="button" class="btn btn-secondary" (click)="openDialog(log.id)" >
                                              <fa-icon icon="times"></fa-icon>
                                            </button> -->
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

      </div>
      <div *ngIf="!seeAll" class="card">
        <p class="description-title">{{storySelected.description}}</p>
      </div>

      <!-- Lista de pruebas de una historia particular -->
      <div *ngIf="!seeAll" class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">

                      <div class="row">
                          <div class="col-xs-12 col-md-6 text-left">
                              <h4 class="card-title ">Criterios de Aceptación</h4>
                          </div>
                          <div class="col-xs-12 col-md-6 text-right">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button id="but1" mat-raised-button type="submit" class="btn pull-right" data-toggle="modal" data-target="#modalCriteria">
                                        <fa-icon icon="arrow-alt-circle-up"></fa-icon>
                                    </button>
                                </span>
                            </div>
                          </div>
                      </div>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                    ID
                                  </th>
                                  <th>
                                    Descripción
                                  </th>
                                  <th>
                                    Aprobación
                                  </th>
                                  <th class="options-column">
                                      Opciones
                                  </th>
                              </thead>
                              <tbody>
                                 <tr *ngFor="let criteria of criteriaList">
                                      <td>
                                        {{criteria.id}}
                                      </td>
                                      <td>
                                        {{criteria.description}}
                                      </td>
                                      <td>

                                        <fa-icon *ngIf="criteria.approval" icon="check-circle"></fa-icon>
                                        <fa-icon *ngIf="!criteria.approval" icon="times-circle"></fa-icon>
                                      </td>
                                      <td>
                                          <div class="btn-group" role="group">
                                              <button type="button" class="btn btn-secondary" (click)="edit (log.id)" >
                                                <fa-icon icon="edit"></fa-icon>
                                              </button>
                                              <button type="button" class="btn btn-secondary" (click)="openDialog(log.id)" >
                                                <fa-icon icon="times"></fa-icon>
                                              </button>
                                          </div>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <p *ngIf="!seeAll && criteriaList.length === 0"> No existen criterios definidos para esta historia</p>
      <!-- Lista de pruebas de una historia particular-->
      <div *ngIf="!seeAll" class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                  <div class="row">
                      <div class="col-xs-12 col-md-6 text-left">
                          <h4 class="card-title ">Pruebas de Aceptación</h4>
                      </div>
                      <div class="col-xs-12 col-md-6 text-right">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button id="but1" mat-raised-button type="submit" class="btn pull-right" data-toggle="modal" data-target="#modalTest">
                                    <fa-icon icon="arrow-alt-circle-up"></fa-icon>
                                </button>

                            </span>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>
                                  ID
                                </th>
                                <th>
                                  Descripción
                                </th>
                                <th>
                                  Aprobación
                                </th>
                                <th class="options-column">
                                    Opciones
                                </th>
                            </thead>
                            <tbody>
                               <tr *ngFor="let test of testsList">
                                    <td>
                                      {{test.id}}
                                    </td>
                                    <td>
                                      {{test.description}}
                                    </td>
                                    <td>
                                      <fa-icon *ngIf="test.approved" icon="check-circle"></fa-icon>
                                      <fa-icon *ngIf="!test.approved" icon="times-circle"></fa-icon>
                                    </td>
                                    <td>
                                        <div class="btn-group" role="group">
                                          <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modalTestEdit"(click)="editTest(test)" >
                                            <fa-icon icon="edit"></fa-icon>
                                        </button>
                                            <button type="button" class="btn btn-secondary" (click)="openDialog(test.id)" >
                                                <fa-icon icon="times"></fa-icon>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <p *ngIf="!seeAll && testsList.length === 0"> No existen pruebas definidas para esta historia</p>

  </div>
</div>
<!-------------------------- Modal de seleccion de historias -------------------->

  <!-- Modal -->
  <div class="modal fade" id="modalStories" tabindex="-1" role="dialog" aria-labelledby="modalStories" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalStories">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row" *ngFor="let story of storiesList">
            <div class="alert alert-default" role="alert">
              <p>{{story.description}}</p>
              <button class="btn btn-success btn-add" *ngIf="!story.added" (click)="addToSprint(story)">+</button>
              <button class="btn btn-danger btn-delete" *ngIf="story.added" (click)="deleteFromSprint(story)">x</button>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)='save()' data-dismiss="modal">Agregar Historias</button>
        </div>
      </div>
    </div>
  </div>

<!-------------------------- Modal de pruebas -------------------->

  <!-- Modal -->
  <div class="modal fade" id="modalTest" tabindex="-1" role="dialog" aria-labelledby="modalTest" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTest">Agregar Prueba</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="testForm" (ngSubmit)="addTest()">
            <div  class="form-group">
              <label for="description">Descripción</label>
              <input type="text" class="form-control" id="description" formControlName="description" placeholder="">
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" >Agregar</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

  <!-------------------------- Modal de criterios -------------------->

  <!-- Modal -->
  <div class="modal fade" id="modalCriteria" tabindex="-1" role="dialog" aria-labelledby="modalCriteria" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalcriteria">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="criteriaForm" (ngSubmit)="addCriteria()">
            <div  class="form-group">
              <label for="description">Descripción</label>
              <input type="text" class="form-control" id="description" formControlName="description" placeholder="">
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" >Agregar</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>


  <!-------------------------- Editar de criterios -------------------->

  <!-- Modal -->
  <div class="modal fade" id="modalCriteria" tabindex="-1" role="dialog" aria-labelledby="modalCriteria" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalcriteria">Editar Criterio</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="editCriteriaForm" (ngSubmit)="sendEditedCriteria()">
            <div  class="form-group">
              <label for="description">Descripción</label>
              <input type="text" class="form-control" id="description" formControlName="description" placeholder="">
            </div>
            <div class="form-check">
              <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="" formControlName="approved">
                 Aprobado
                  <span class="form-check-sign">
                      <span class="check"></span>
                  </span>
              </label>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" >Editar</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

    <!-------------------------- Editar de pruebas -------------------->

  <!-- Modal -->
  <div class="modal fade" id="modalTestEdit" tabindex="-1" role="dialog" aria-labelledby="modalTestEdit" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTestEdit">Editar prueba</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="editTestForm" (ngSubmit)="sendEditedTest()">
            <div  class="form-group">
              <label for="description">Descripción</label>
              <input type="text" class="form-control" id="description" formControlName="description" placeholder="">
            </div>
            <div class="form-check">
              <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="" formControlName="approved">
                 Aprobado
                  <span class="form-check-sign">
                      <span class="check"></span>
                  </span>
              </label>
          </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" >Editar</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

