<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="card-header card-header-danger">

                  <div class="row">
                      <div class="col-xs-12 col-md-6 text-left">
                          <h4 class="card-title ">Burn Up</h4>
                      </div>
                      <!-- <div class="col-xs-12 col-md-6 text-right">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button id="but1" mat-raised-button type="submit" class="btn pull-right" data-toggle="modal" data-target="#modalCriteria">
                                    <fa-icon icon="arrow-alt-circle-up"></fa-icon>
                                </button>
                            </span>
                        </div>
                      </div> -->
                  </div>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>
                              ID
                            </th>
                            <th>
                              Dia
                            </th>
                            <th>
                              Realizados
                            </th>
                            <th>
                              Estimados
                            </th>
                            <th>
                              Necesarios
                            </th>
                            <!-- <th>
                              Historia
                            </th>
                            <th class="options-column">
                                Opciones
                            </th> -->
                        </thead>
                        <tbody>
                          <tr *ngFor="let day of days">
                                <td>
                                  {{day.id}}
                                </td>
                                <td>
                                  {{day.day}}
                                </td>
                                <td>
                                  {{day.done}}
                                </td>
                                <td>
                                  {{day.estimated}}
                                </td>
                                <td>
                                  {{day.needed}}
                                </td>
                                <!-- <td>
                                  {{sprint.history}}
                                </td>
                                <td>
                                  <div class="btn-group" role="group">
                                      <button type="button" class="btn btn-secondary" (click)="burnDown()" >
                                        <fa-icon icon="edit"></fa-icon>
                                      </button>
                                      <button type="button" class="btn btn-secondary" (click)="burnUp()" >
                                        <fa-icon icon="edit"></fa-icon>
                                      </button>
                                  </div>
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>


