<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">

                        <div class="row">
                            <div class="col-xs-12 col-md-6 text-left">
                                <h4 class="card-title ">Documentos</h4>
                                <p class="card-category">Listado</p>
                            </div>
                            <div class="col-xs-12 col-md-6 text-right">
                                <div class="input-group">
                                    <input type="text" class="form-control">
                                    <span class="input-group-btn">
                                        <button mat-raised-button type="submit" class="btn pull-right">
                                            <fa-icon icon="glasses"></fa-icon>
                                        </button>
                                        <button mat-raised-button type="submit" class="btn pull-right" (click)="createInitDocument()">
                                            <i class="material-icons">user-add</i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        Metodo de Desarrollo
                                    </th>
                                    <th>
                                        Version
                                    </th>
                                    <th class="options-column">
                                        Proyecto
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let document of document_list">
                                        <td>
                                            {{document.id}}
                                        </td>
                                        <td>
                                            {{document.name}}
                                        </td>
                                        <td>
                                            {{document.dev_met}}
                                        </td>
                                        <td>
                                            {{document.version}}
                                        </td>
                                        <td>
                                            {{document.project.name}}
                                        </td>

                                        <!-- <td>
                                             <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-secondary">
                                                    <fa-icon icon="hand-paper"></fa-icon>
                                                </button>
                                                <button type="button" class="btn btn-secondary">
                                                    <fa-icon icon="edit"></fa-icon>
                                                </button>
                                                <button type="button" class="btn btn-secondary">
                                                    <fa-icon icon="times"></fa-icon>
                                                </button>
                                            </div>
                                        </td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
