<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">

                        <div class="row">
                            <div class="col-xs-12 col-md-6 text-left">
                                <h4 class="card-title ">Sprint 1</h4>
                                <p class="card-category">Reunión de Planificación</p>
                            </div>
                            <div class="col-xs-12 col-md-6 text-right">
                                <div class="input-group">
                                    <input type="text" placeholder="Buscar" [(ngModel)]="id" class="form-control"
                                        (ngModelChange)="resetStoriesList()">
                                    <span class="input-group-btn">
                                        <button id="but1" mat-raised-button type="submit" class="btn pull-right"
                                            (click)="Search()">
                                            <fa-icon icon="search"></fa-icon>
                                        </button>
                                        <span class="input-group-btn">
                                            <button id="but2" mat-raised-button type="submit" class="btn pull-right"
                                                data-toggle="modal" data-target="#addEdit" (click)="initializeAddForm()">
                                                <fa-icon icon="plus-circle"></fa-icon>
                                            </button>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th class="narrow-column">
                                        ID
                                    </th>
                                    <th>
                                        Tema
                                    </th>
                                    <th class="narrow-column">
                                        IDHU
                                    </th>
                                    <th>
                                        Actividad Asignada
                                    </th>
                                    <th class="">
                                        Asignada
                                    </th>
                                    <th class="narrow-column">
                                        Opciones
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let plan of plans; index as i">
                                        <td class="text-center">
                                            {{plan.id}}
                                        </td>
                                        <td>
                                            {{plan.subject}}
                                        </td>
                                        <td>
                                            {{plan.user_story_id}}
                                        </td>
                                        <td>
                                            {{plan.activity}}
                                        </td>
                                        <td>
                                            {{showUsers(plan.assigned)}}
                                        </td>
                                        <td class="text-right">
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-secondary" data-toggle="modal"
                                                    data-target="#addEdit" (click)="true">
                                                    <fa-icon icon="edit"></fa-icon>
                                                </button>
                                                <button type="button" class="btn btn-secondary" data-toggle="modal"
                                                    data-target="#eliminar" (click)="true">
                                                    <fa-icon icon="times"></fa-icon>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-angular fade" id="addEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 *ngIf="addMode" class="modal-title">Agregar Plan</h5>
                    <h5 *ngIf="!addMode" class="modal-title">Editar Plan {{story.id}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="addEditPlanForm">
                        <div class="row">
                            <div class="col-12">
                                <h6>Tema</h6>
                                <div class="form-group">
                                    <input formControlName="subject" type="text" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <h6>IDHU</h6>
                                <div class="form-group">
                                    <select formControlName="user_story_id" multiple class="form-control">
                                        <option value="0">Alta</option>
                                        <option value="1">Media</option>
                                        <option value="2">Baja</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <h6>Actividad</h6>
                                <div class="form-group">
                                    <input formControlName="activity" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-12">
                                <h6>Asignado</h6>
                                <div class="form-group">
                                    <select formControlName="assigned" multiple class="form-control">
                                        <option value="0">Alta</option>
                                        <option value="1">Media</option>
                                        <option value="2">Baja</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button *ngIf="addMode" type="button" class="btn btn-primary" data-toggle="modal" data-dismiss="modal"
                    (click)="createStory()">Crear Historia</button>
                    <button *ngIf="!addMode" type="button" class="btn btn-primary" data-toggle="modal" data-dismiss="modal"
                    (click)="editStory()">Editar Historia</button>
                </div>
            </div>
        </div>
    </div>




</div>
