.result-left {
    border-style: solid;
    border-width: 1px 0px 1px 1px;
    border-color: rgba(0,0,0,0.06);
}

.result-right {
    border-style: solid;
    border-width: 1px 1px 1px 0px;
    border-color: rgba(0,0,0,0.06);
}